<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- SEO -->
    <meta name="keywords" content="kagoshima, 鹿兒島" />
    <meta name="description" content="踩著夏天的腳步，紀錄曾經在鹿兒島踏過的道路" />

    <!-- Facebook Open Graph -->
    <meta property="og:url" content="http://naccount.ddns.net/kagoshima/index.html" />
    <meta property="og:title" content="鹿兒島初夏紀行" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="踩著夏天的腳步，紀錄曾經在鹿兒島踏過的道路" />
    <meta property="og:image" content="http://naccount.ddns.net/kagoshima/assets/51075c956b1a990fbc3034d5c41cf7f6.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:locale" content="zh_TW" />
</head>
<body>
    <div id="kagoshima"></div>
</body>
</html>
