@import './variables';

@mixin fitParent () {
    width: 100%;
    height: 100%;
}

@mixin vendor-prefix($name, $value) {
    @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
        #{$vendor}#{$name}: #{$value};
    }
}

@mixin mediaQuerySmartPhone () {
    @media only screen and (max-width: 480px) {
        @content;
    }
}

@mixin mediaQueryTablet () {
    @media only screen and (min-width: 481px) and (max-width: 768px) {
        @content;
    }
}

@mixin mediaQueryDesktop () {
    @media only screen and (min-width: 769px) {
        @content;
    }
}

@mixin getColor ($attr, $color, $opacity: 1) {
    #{$attr}: rgba($color, $opacity);
}

@mixin quickButton ($backgroundColor, $borderColor: transparent, $textColor: $color0) {
    @include vendor-prefix(user-select, none);

    background-color: $backgroundColor;
    border: 1px solid $borderColor;
    color: $textColor;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
        background-color: lighten($backgroundColor, 10%);
        border-color: lighten($borderColor, 10%);
        color: lighten($textColor, 10%);
    }

    &:active {
        background-color: darken($backgroundColor, 10%);
        border-color: darken($borderColor, 10%);
        color: darken($textColor, 10%);
    }
}

@mixin colorButton ($colors) {
    @include vendor-prefix(user-select, none);

    cursor: pointer;

    $checkProps: (background-color, border-color, color);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @each $prop in $checkProps {
        @if (map-has-key($colors, #{$prop})) {
            $colorNormal: nth(map-get($colors, #{$prop}), 1);
            $colorHover: nth(map-get($colors, #{$prop}), 2);
            $colorActive: nth(map-get($colors, #{$prop}), 3);

            #{$prop}: $colorNormal;

            &:hover {
                #{$prop}: $colorHover;
            }

            &:active {
                #{$prop}: $colorActive;
            }
        }
    }
}

@mixin transit ($attr, $time: 0.25s, $timeFunc: ease) {
    @include vendor-prefix(transition, $time $attr $timeFunc);
}

@mixin clickable ($isClickable: 'true') {
    cursor: if($isClickable == 'true', pointer, default);
}

@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin sectionHeader ($fontColor: $color0, $height: $sectionHeaderH) {
    width: 100%;
    height: $height;
    line-height: $height;
    text-align: center;
    color: $fontColor;

    font-size: $height * 0.25;

    &+div {
        height: calc(100% - #{$height});
        padding-bottom: $sectionHeaderH;
    }
}

@mixin anchor {
    $colorList: (
        color: ($color4, lighten($color4, 10%), darken($color4, 20%))
    );
    @include colorButton($colorList);
}
