@import './partial/basecolor';

$sectionHeaderH: 100px;
$sectionHeaderMobileH: 80px;
$articleTextColor: (
    title: $color16,
    subTitle: lighten($color16, 25%),
    context: lighten($color16, 10%),
);
$fixedPanelColorList: (
    color: (darken($color0, 20%), $color0, $color4),
    border-color: (lighten($color15, 10%), lighten($color15, 10%), $color4),
    background-color: (lighten($color15, 10%), lighten($color15, 5%), $color15),
);
