@import 'variables';
@import 'mixins';
@import 'placeholders';
@import 'layout';
@import 'vendor/reset';
@import 'vendor/webfonts';
@import 'partial/basecolor';

@include keyframes(loaded) {
    0% {
        @include vendor-prefix(transform, translateY(40%));
        opacity: 0;
    }

    100% {
        @include vendor-prefix(transform, translateY(0));
        opacity: 1;
    }
}

* {
    @include vendor-prefix(box-sizing, border-box);
}

html, body, #kagoshima, #kagoshima>div {
    width: 100%;
    height: 100%;
    font-family: "Arial", "Times New Roman", "Microsoft JhengHei", "微軟正黑", "STHeiti Light", Sans-Serif;;
}

h4 {
    font-weight: bold;
    font-weight: 1.2em;
}

h5 {
    font-weight: bold;
    font-weight: 1.1em;
}

h6 {
    font-weight: bold;
    font-weight: 1em;
}

a {
    text-decoration: none;
    color: $color17;

    &:hover {
        color: lighten($color17, 10%);
    }

    &:active {
        color: darken($color17, 30%);
    }
}

.show-modal {
    overflow: hidden;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

.offscreen {
    @include vendor-prefix(transform, translate3d(0, -9999%, 0));
}

.onscreen {
    @include vendor-prefix(transform, translate3d(0, 0, 0));
}

.loaded {
    &>* {
        @include transit(all, 1.6s);
        @extend .onscreen;
        @extend .visible;
    }

    @for $i from 1 through 2 {
        &>*:nth-child(#{$i}) {
            @include vendor-prefix(transition-delay, 0.1s * ($i - 1));
        }
    }
}

.ready-to-load {
    &>* {
        @include transit(all, 1.6s);
        @include vendor-prefix(transform, translate3d(0, 40%, 0));
        @extend .invisible;
    }
}

.blockedAnchor {
    @include fitParent;
    display: block;
}
