@import '../mixins';
@import '../partial/basecolor';

:local {
    .main {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;

        // Fix scrolling issue for ios safari
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        animation-fill-mode: forwards;
        margin-top: -1px;
        padding-top: 1px;

        display: flex;
        justify-content: center;
        align-items: stretch;

        background-color: darken($color0, 3%);
        opacity: 0;

        @include vendor-prefix(transform, translateY(40%));
        @include transit(all, 0.4s);

        &.mount {
            @include vendor-prefix(transform, translateY(0));
            opacity: 1;
        }

        .closeBtn {
            position: absolute;
            width: 80px;
            height: 30px;
            right: 12px;
            top: 0;
            font-size: 24px;

            text-align: center;
            line-height: 30px;

            @include colorButton($fixedPanelColorList);
        }

        &>article {
            background-color: $color0;
            width: 100%;
            padding: 24px;

            &>header {
                &>h1 {
                    line-height: 2;
                    color: map-get($articleTextColor, title);
                    font-size: 24px;
                }

                &>h4 {
                    color: map-get($articleTextColor, subTitle);
                    font-size: 12px;
                }
            }

            &>section {
                padding: 24px 0;
                line-height: 1.6;
                column-count: 2;

                @include mediaQuerySmartPhone () {
                    column-count: 1;
                    font-size: 13px;
                };

                &>figure {
                    overflow: hidden;
                    background-color: $color0;

                    &>img {
                        width: 100%;
                    }
                }

                &>p {
                    &:first-of-type:first-letter {
                        font-size: 28px;
                        font-weight: bold;
                    }

                    padding-bottom: 6px;
                    color: map-get($articleTextColor, context);
                }
            }
        }
    }
}
