@import '../mixins';
@import '../partial/basecolor';

:local {
    .main {
        @include fitParent;
        @include transit(opacity, 0.4s, ease-in-out);
        @include vendor-prefix(transform-origin, top center);

        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background-color: rgba(#000, 0.8);

        ul {
            padding: 20%;

            li {
                @include vendor-prefix(user-select, none);
                @include vendor-prefix(transform, translateY(-30%));
                @include transit(transform, 0);

                opacity: 0;

                &>a {
                    padding: 9% 0;
                    color: $color0;
                    font-size: 24px;
                    text-align: center;
                }

                @for $i from 1 through 6 {
                    &:nth-child(#{$i}) {
                        @include vendor-prefix(transition-delay, 0);
                    }
                }
            }
        }
    }
}

:global(.onscreen) {
    &>ul {
        &>li {
            opacity: 1;

            @include transit(transform, 0.5s, ease-in-out);
            @include vendor-prefix(transform, translateY(0));
            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    @include vendor-prefix(transition-delay, $i* 0.05s);
                }
            }
        }
    }
}
