@import '../mixins';

:local {
    .main {
        @include fitParent;
        overflow: hidden;

        &>ul {
            // Scrolling Wrap
            @include fitParent;
            @include vendor-prefix(transform, translateX(0));
            @include transit(transform, 0.6s, cubic-bezier(.17,.41,.3,1));

            &[data-pause="true"] {
                @include vendor-prefix(transition, none);
            }

            &[data-instantscroll="true"] {
                @include vendor-prefix(transition, none);
            }

            white-space: nowrap;

            &>li {
                @include fitParent;

                display: inline-block;
                vertical-align: top;
            }
        }
    }
}
