@import '../mixins';
@import '../partial/basecolor';

$imageList: (
    'SectionIntro/volcano-full',
    'SectionIntro/jingu-full',
    'SectionGallery/01-1920w',
    'SectionGallery/02-1920w',
    'SectionGallery/03-1920w',
    'SectionGallery/04-1920w',
    'SectionGallery/05-1920w',
    'SectionGallery/06-1920w',
    'SectionGallery/07-1920w',
    'SectionGallery/08-1920w',
);

:local {
    .main {
        .scrollItem {
            @include fitParent;
            padding: 80px;

            background-size: contain;
            background-origin: content-box;
            background-repeat: no-repeat;
            background-position: center;

            @include mediaQuerySmartPhone () {
                padding: 40px 6px;
            };
        }

        &.preloaded {
            .scrollItem {
                @for $i from 1 through length($imageList)  {
                    &[data-id="#{$i - 1}"] {
                        background-image: url('../../../images/#{nth($imageList, $i)}.jpg');
                    }
                }
            }
        }
    }
}
