@import '../mixins';
@import '../partial/basecolor';

:local {
    .main {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;

        background-color: $color15;

        width: 100%;
        height: 100%;

        @include transit(opacity);

        .scrollContainer {
            @include fitParent;
            @include transit(transform, 0.3s, cubic-bezier(.33,.29,.32,1.04));

            @include vendor-prefix(transform, translateY(10%));
        }

        .btn {
            position: fixed;
            z-index: 1000;
            color: $color0;

            height: 40px;
        }

        .closeBtn {
            @extend .btn;

            top: 6px;
            left: 12px;
            width: auto;
            line-height: 40px;

            $colorList: (
                color: (darken($color0, 20%), $color0, $color4),
            );

            @include colorButton($colorList);
        }

        .sideBtn {
            @extend .btn;

            width: 36px;
            height: 60px;

            font-size: 30px;

            top: 0;
            bottom: 0;
            margin: auto;
            border: 1px solid $color2;

            text-align: center;
            line-height: 56px;

            @include clickable;
            @include transit(all, 0.1s);
            @include mediaQuerySmartPhone () {
                display: none;
            };
            @include mediaQueryTablet () {
                display: none;
            };

            @include colorButton($fixedPanelColorList);
        }

        .leftBtn {
            @extend .sideBtn;
            left: 24px;
        }

        .rightBtn {
            @extend .sideBtn;
            right: 24px;
        }
    }
}

:global(.visible) :local(.scrollContainer) {
    @include vendor-prefix(transform, translateY(0%));
}
