@import '../mixins';
@import '../partial/basecolor';

@include keyframes (dot) {
    0% {
        fill: lighten($color4, 60%);
    }

    25% {
        fill: $color4;
    }

    50% {
        fill: lighten($color4, 60%);
    }

    75% {
        fill: $color4;
    }

    100% {
        fill: lighten($color4, 60%);
    }
};

@include keyframes (frame) {
    0% {
        @include vendor-prefix(transform, scale(1, 1));
        opacity: 0;
    }

    50% {
        opacity: 1;
        stroke-width: 0.1;
    }

    70%, 100% {
        @include vendor-prefix(transform, scale(9, 9));
        opacity: 0;
        stroke-width: 0;
    }
};

:local {
    .main {
        @include fitParent;
        @include transit(opacity, 0.35s);

        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color0;
        z-index: 1000;
        opacity: 1;

        &[data-visible="false"] {
            opacity: 0;
        }

        &[data-offscreen="true"] {
            @include vendor-prefix(transform, translateY(-9999%));
        }



        &>div {
            position: relative;
            width: 500px;
            height: 500px;

            svg {
                @include fitParent;
                &>circle {
                   &:first-child {
                       :global {
                           @include vendor-prefix(animation, 3s dot infinite ease-out);
                       }
                   }

                   &:nth-child(2) {
                       transform: scale(1, 1);
                       opacity: 0;
                       @include vendor-prefix(transform-origin, center);

                       fill: transparent;
                       stroke: $color4;
                       stroke-width: 1px;

                       :global {
                           @include vendor-prefix(animation, 3s frame 1.5s infinite linear);
                       }
                   }

                   &:last-child {
                       fill: transparent;
                       stroke: $color4;
                       stroke-width: 1px;
                       transform: scale(1, 1);
                       @include vendor-prefix(transform-origin, center);

                       :global {
                           @include vendor-prefix(animation, 3s frame infinite linear);
                       }
                   }
                }
            }
            // position: relative;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // width: 20px;
            // height: 20px;
            //
            // background-color: lighten($color4, 60%);
            // border-radius: 100%;
            //
            // :global {
            //     @include vendor-prefix(animation, 2s dot infinite ease-out);
            // }

            // &:before {
            //     content: '';
            //     width: 20px;
            //     height: 18px;
            //
            //     border: 1px solid $color4;
            //     border-radius: 100%;
            //     @include vendor-prefix(transform, scale(1, 1));
            //
            //     :global {
            //         @include vendor-prefix(animation, 4s frame infinite cubic-bezier(.69,-0.4,.34,1.42));
            //     }
            // }
        }
    }
}
