@import '../partial/basecolor';
@import '../mixins';

:local {
    .main {
        width: 52px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 9px;

        &>div {
            @include transit(all, 0.4s, ease-in-out);
            @include vendor-prefix(transform, rotateZ(0));

            position: relative;

            width: 40px;
            height: 22px;
            margin: auto;

            &>div {
                @include transit(all, 0.25s, ease-in-out);

                position: absolute;
                width: 100%;
                height: 4px;
                border-radius: 2px;
                background-color: lighten($color10, 10%);

                &:first-child {
                    @include vendor-prefix(transform, translateX(0) scaleX(1));
                    top: 0;
                }

                &:last-child {
                    @include vendor-prefix(transform, translateX(0) scaleX(1));
                    bottom: 0;
                }

                &:not(:first-child):not(:last-child) {
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;

                    @include vendor-prefix(transform, rotateZ(0) scaleX(1));
                }
            }

            &[data-checked="true"] {
                @include vendor-prefix(transform, rotateZ(180deg));

                &>div {
                    &:first-child {
                        @include vendor-prefix(transform, translateX(40%) scaleX(0.3));
                        opacity: 0;
                    }

                    &:last-child {
                        @include vendor-prefix(transform, translateX(-40%) scaleX(0.3));
                        opacity: 0;
                    }

                    &:nth-child(2) {
                        @include vendor-prefix(transform, rotateZ(45deg) scaleX(0.7));
                    }

                    &:nth-child(3) {
                        @include vendor-prefix(transform, rotateZ(-45deg) scaleX(0.7));
                    }
                }
            }
        }
    }
}
