@import '../partial/basecolor';
@import '../mixins';

:local {
    .main {
        &>ul {
            display: inline-block;

            &>li {
                @include vendor-prefix(user-select, none);
                @include transit(line-height);

                position: relative;
                display: inline-block;


                .navLink {
                    @include fitParent;

                    display: block;
                    text-decoration: none;
                    color: darken($color0, 14%);
                    padding: 0 36px;
                    line-height: 72px;

                    @include mediaQueryTablet () {
                        padding: 0 20px;
                    };

                    &.mini {
                        line-height: 42px;
                    }

                    &:hover {
                        color: darken($color0, 0);
                    }

                    &:active {
                        color: $color4;
                    }

                    &:visited {
                        color: darken($color0, 14%);
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        border-bottom: 4px solid $color4;

                        @include vendor-prefix(transform, scaleX(0));
                        @include transit(transform, 0.2s);
                    }

                    &.selected {
                        color: $color4;
                        font-weight: bold;

                        &:after {
                            @include vendor-prefix(transform, scaleX(1));
                        }
                    }
                }
            }
        }
    }
}
