@import '../mixins';
@import '../partial/basecolor';

:local {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;

        &>li {
            @include clickable;
            @include vendor-prefix(user-select, none);

            -webkit-tap-highlight-color: transparent;

            width: 16px;
            height: 16px;
            border-radius: 100%;
            margin: 0 4px;

            background-color: $color6;

            &[data-selected="true"] {
                background-color: $color5;
            }

            @include mediaQuerySmartPhone () {
                width: 8px;
                height: 8px;
                margin: 0 2px;
            };
        }
    }
}
