@import '../mixins';
@import '../variables';
@import '../partial/basecolor';

$imageLiStartPos: (
    (-75%, -75%, 0.2s),
    (-45%, -95%, 0.4s),
    (45%, -95%, 0.5s),
    (75%, -75%, 0.3s),
    (-75%, 75%, 0.4s),
    (-45%, 95%, 0.5s),
    (45%, 95%, 0.4s),
    (75%, 75%, 0.3s),
)

:local {
    .main {
        position: relative;

        width: 100%;
        background-color: rgba($color9, 0.9);

        &>h1 {
            @include sectionHeader($color0);

            @include mediaQuerySmartPhone () {
                @include sectionHeader($color0, $sectionHeaderMobileH);
            }
        }

        &>div {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;

            @include mediaQuerySmartPhone () {
                background-image: none;
            };

            @include mediaQueryTablet () {
                background-image: none;
            };

            & .imageGrid {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-content: center;
                flex-wrap: wrap;

                overflow: hidden;

                @for $i from 1 through 8 {
                    &>li:nth-child(#{$i}) {
                        @include vendor-prefix(transition-delay, $i * 0.2s);

                        @include mediaQueryDesktop () {
                            @include vendor-prefix(transition-delay, nth(nth($imageLiStartPos, $i), 3));
                        };
                    }
                }

                @include mediaQuerySmartPhone () {
                    width: 100%;
                }

                @include mediaQueryTablet () {
                    width: 100%;
                }

                &>li {
                    @include clickable;

                    position: relative;
                    overflow: hidden;
                    border: 1px solid $color0;

                    @include vendor-prefix(transform-origin, bottom center);

                    &:hover {
                        .thumbnail {
                            @include vendor-prefix(transform, translateZ(0) scale(1.1, 1.1));

                            .magnifier {
                                opacity: 1;
                            }
                        }
                    }

                    .thumbnail {
                        @include fitParent;
                        @include transit(all, 0.5s);
                        @include vendor-prefix(transform, scale(1, 1));

                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;

                        &:hover {
                            @include vendor-prefix(transform, translateZ(0) scale(1.1, 1.1));
                        }
                    }

                    .magnifier {
                        @include transit(opacity);

                        position: absolute;
                        width: 80px;
                        height: 80px;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;

                        background-color: rgba($color15, 0.6);

                        opacity: 0;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 9px;
                            left: 9px;

                            width: 40px;
                            height: 40px;
                            border-radius: 100%;
                            border: 6px solid $color0;
                            z-index: 10;
                        }

                        &:after {
                            @include vendor-prefix(transform, translateZ(0) rotateZ(45deg));

                            content: '';
                            position: absolute;
                            top: 55px;
                            left: 45px;

                            width: 28px;
                            height: 8px;
                            border-radius: 16px;
                            background-color: $color0;
                        }
                    }
                }

                @for $i from 1 through 8 {
                    &>li:nth-child(#{$i}) {
                        width: 25%;
                        height: 240px;

                        &>div:first-child {
                            background-image: url('../../../images/SectionGallery/0#{$i}-1920w.jpg');
                        }

                        @include mediaQuerySmartPhone () {
                            width: 100%;
                            height: 240px;

                            &>div:first-child {
                                background-image: url('../../../images/SectionGallery/0#{$i}-480w.jpg');
                            }
                        }

                        @include mediaQueryTablet () {
                            width: 50%;
                            height: 320px;

                            &>div:first-child {
                                background-image: url('../../../images/SectionGallery/0#{$i}-800w.jpg');
                            }
                        }
                    }
                }
            }
        }
    }
}

:global(.ready-to-load) {
    @for $i from 1 through 8 {
        &>li:nth-child(#{$i}) {
            @include vendor-prefix(transform, translate3d(0, 50%, 0));

            @include mediaQueryDesktop () {
                @include vendor-prefix(transform, translate3d(nth(nth($imageLiStartPos, $i), 1), nth(nth($imageLiStartPos, $i), 2), 0));
            };
        }
    }
}

:global(.loaded) {
    &>li {
        @include vendor-prefix(transform, translate3d(0, 0, 0));
    }
}
