@import '../mixins';
@import '../variables';
@import '../partial/basecolor';

:local {
    .main {
        position: relative;

        width: 100%;
        background-color: $color10;

        &>h1 {
            @include sectionHeader($color0);

            @include mediaQuerySmartPhone () {
                @include sectionHeader($color0, $sectionHeaderMobileH);
            }
        }

        &>div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &>div {
                min-height: 300px;

                &:first-child {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;
                    color: $color0;
                    line-height: 44px;
                    text-indent: 6px;
                    font-family: serif;

                    width: 35%;

                    @include mediaQuerySmartPhone () {
                        width: 100%;
                        min-height: 140px;

                        &>div {
                            width: 140px;
                            height: 140px;
                        }
                    };

                    @include mediaQueryTablet () {
                        width: 100%;
                        min-height: 140px;

                        &>div {
                            width: 180px;
                            height: 180px;
                        }
                    };

                    &>div {
                        width: 240px;
                        height: 240px;
                    }
                }

                &:last-child {
                    width: 65%;

                    @include mediaQuerySmartPhone () {
                        min-height: 420px;
                        width: 100%;
                        padding: 36px;
                    };

                    @include mediaQueryTablet () {
                        min-height: 360px;
                        width: 100%;
                        padding: 36px;
                    };
                }
            }

            @include mediaQuerySmartPhone () {
                flex-direction: column;
            };

            p {
                color: darken($color0, 20%);
                padding: 16px;
                padding-top: 0;
                line-height: 24px;

                @include mediaQuerySmartPhone () {
                    font-size: 13px;
                };
            }
        }
    }
}
