@import '../partial/basecolor';
@import '../mixins';

:local {
    .main {
        border-bottom: 1px solid transparent;
        @include getColor(background-color, $color15);
        @include getColor(border-color, $color7);
        @include transit(opacity, 0.5s, ease);

        position: fixed;
        top: 0;
        width: 100%;
        text-align: center;
        z-index: 999;

        @include mediaQueryDesktop {
            .fullscreenNav {
                display: none;
            }
        };

        @include mediaQueryTablet {
            .fullscreenNav {
                display: none;
            }
        };

        @include mediaQuerySmartPhone {
            .navBar {
                display: none;
            }

            .fullscreenNav {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                &>span {
                    width: 100%;
                    color: $color0;
                    text-indent: -52px;
                    @include vendor-prefix(user-select, none);
                }
            }
        };
    }
}
