@import '../mixins';
@import '../variables';
@import '../partial/basecolor';

$logoImageList: (
    'logoHTML5',
    'logoCSS3',
    'logoJS',
    'logoNodeJS',
    'logoPHP',
    'logoMySQL',
);

:local {
    .main {
        position: relative;

        width: 100%;
        overflow: hidden;

        &>h1 {
            @include sectionHeader($color7);

            @include mediaQuerySmartPhone () {
                @include sectionHeader($color7, $sectionHeaderMobileH);
            }
        }

        &>div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &>div {
                min-height: 600px;

                &:first-child {
                    width: 50%;

                    @include mediaQuerySmartPhone () {
                        width: 100%;
                        min-height: 380px;

                        &>div:first-child {
                            width: 180px;
                            height: 180px;
                        }
                    };

                    @include mediaQueryTablet () {
                        width: 100%;
                        min-height: 380px;

                        &>div:first-child {
                            width: 180px;
                            height: 180px;
                        }
                    };

                    &>div {
                        &:first-child {
                            position: relative;

                            width: 240px;
                            height: 240px;
                            margin: auto;

                            background-color: $color0;
                            background-image: url('../../../images/SectionAboutMe/headShot.jpg');
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;

                            border-radius: 100%;
                        }

                        &:last-child {
                            position: relative;
                            top: 24px;

                            width: 160px;
                            margin: auto;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            padding: 18px 0;
                            border-radius: 4px;
                            color: $color10;

                            border: 1px solid $color1;
                            @include quickButton($color0, $color1, $color10);

                            &>div {
                                height: 20px;


                                &:first-child {
                                    width: 30px;
                                    position: relative;
                                    border: 1px solid lighten($color10, 20%);

                                    &:before {
                                        position: absolute;
                                        content: '';
                                        color: transparent;

                                        width: 0;
                                        height: 0;
                                        border-style: solid;
                                        border-width: 12px 14px 0 14px;
                                        border-color: $color10 transparent transparent transparent;
                                    }

                                }

                                &:last-child {
                                    text-indent: 12px;
                                }
                            }
                        }
                    }

                    &>ul {
                        text-align: center;
                        margin: auto;
                        padding-top: 12px;

                        @include mediaQuerySmartPhone () {
                            padding-top: 6px;
                        };

                        @include mediaQueryTablet () {
                            padding-top: 6px;
                        };

                        &>li {
                            &:first-child {
                                line-height: 2;
                                font-size: 36px;

                                @include mediaQuerySmartPhone () {
                                    font-size: 30px;
                                };

                                @include mediaQueryTablet () {
                                    font-size: 30px;
                                };
                            }

                            &:last-child {
                               font-size: 14px;
                               color: $color10;
                            }
                        }
                    }
                }

                &:last-child {
                    width: 50%;

                    @include mediaQuerySmartPhone () {
                        width: 100%;
                        padding: 12px;
                    };

                    @include mediaQueryTablet () {
                        width: 100%;
                        padding: 24px;
                    };

                    &>ul {
                        max-width: 450px;

                        @include mediaQuerySmartPhone () {
                            width: 100%;
                            margin: auto;
                            font-size: 13px;
                        };

                        @include mediaQueryTablet () {
                            width: 100%;
                            margin: auto;
                        };

                        &>li {
                            &>span {
                                &:first-child {
                                    display: inline-block;
                                    font-weight: bold;
                                    width: 100px;
                                }

                                &:last-child {
                                    color: $color15;
                                }
                            }

                            border-bottom: 2px solid $color5;
                            padding-bottom: 12px;
                            margin-bottom: 12px;

                            ul.careerList {
                                &>li {
                                    padding: 12px;
                                    &>div {
                                        line-height: 1.6;
                                        &:last-child {
                                            text-indent: 24px;
                                        }
                                    }
                                }
                            }

                            ul.languageList {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                padding: 24px;

                                &>li {
                                    width: 120px;
                                    height: 120px;
                                    padding: 9px;

                                    background-size: contain;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-origin: content-box;

                                    @for $i from 1 through 6 {
                                        &:nth-child(#{$i}) {
                                            background-image: url('../../../images/SectionAboutMe/#{nth($logoImageList, $i)}.png');
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @include mediaQuerySmartPhone () {
                flex-direction: column;
            };

            p {
                color: darken($color0, 20%);
                padding: 16px;
                padding-top: 0;
                line-height: 24px;

                @include mediaQuerySmartPhone () {
                    font-size: 13px;
                };
            }
        }
    }
}
