@import '../mixins';
@import '../variables';
@import '../partial/basecolor';

:local {
    .main {
        position: relative;
        background-color: darken($color0, 8%);

        &>h1 {
            @include sectionHeader($color7);
        }

        &>div {
            max-width: 960px;
            width: 100%;
            margin: auto;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            @include mediaQuerySmartPhone () {
                flex-direction: column;
                width: 100%;
                padding-left: 0;
                padding-right: 0;

                &>section,
                &>div {
                    height: auto;
                }
            };

            @include mediaQueryTablet () {
                flex-direction: column;
                width: 100%;
                padding-left: 12px;
                padding-right: 12px;

                &>section,
                &>div {
                    height: auto;
                }
            };

            &>* {
                height: 450px;
            }

            .articlePreview {
                width: 100%;
                margin-right: 5px;
                background-color: $color0;

                &>figure {
                    display: flex;
                    overflow: hidden;
                    justify-content: center;
                    align-items: center;

                    &>img {
                        width: 100%;
                        @include clickable;
                    }

                    height: auto;

                    @include mediaQueryDesktop () {
                        height: 40%;
                    };
                }

                &>header {
                    padding: 14px 30px;

                    &>h1 {
                        line-height: 2;
                        color: map-get($articleTextColor, title);
                        font-size: 24px;

                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }

                    &>h4 {
                        color: map-get($articleTextColor, subTitle);
                        font-size: 12px;
                    }
                }

                &>p {
                    padding: 14px 30px 24px;

                    font-size: 14px;
                    line-height: 1.4;
                    color: map-get($articleTextColor, context);

                    &>span {
                        &:last-child {
                            @include anchor;
                        }
                    }
                }

                @include mediaQuerySmartPhone () {
                    margin: 0;
                    margin-bottom: 18px;
                };

                @include mediaQueryTablet () {
                    margin: 0;
                    margin-bottom: 8px;
                };
            }

            &>section {
                width: 100%;

                @include mediaQueryDesktop () {
                    width: 65%;
                };
            }

            &>div {
                margin-left: 5px;
                width: 100%;

                @include mediaQueryDesktop () {
                    width: 35%;
                };

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .articlePreview {
                    height: calc(50% - 4px);

                    h1 {
                        font-size: 18px;
                    }

                    &:nth-of-type(1) {
                        margin-bottom: 4px;
                    }

                    &:nth-of-type(2) {
                        margin-top: 4px;
                    }
                }

                @include mediaQuerySmartPhone () {
                    flex-direction: column;
                    margin: 0;

                    .articlePreview {
                        height: auto;

                        &:nth-of-type(1),
                        &:nth-of-type(2) {
                            margin: 0;
                            margin-bottom: 18px;
                        }
                    }
                };

                @include mediaQueryTablet () {
                    flex-direction: row;
                    margin: 0;

                    .articlePreview {
                        height: 100%;

                        &:nth-of-type(1) {
                            margin: 0;
                            margin-right: 4px;
                        }

                        &:nth-of-type(2) {
                            margin: 0;
                            margin-left: 4px;
                        }
                    }
                };
            }
        }
    }
}
