@import '../mixins';
@import '../variables';
@import '../partial/basecolor';

$logoImageList: (
    'logoHTML5',
    'logoCSS3',
    'logoJS',
    'logoNodeJS',
    'logoPHP',
    'logoMySQL',
);

:local {
    .main {
        background-color: $color7;
        text-align: center;

        &>div {
            padding: 24px;

            &>span {
                color: $color0;
                text-align: center;

                &:first-child {
                    text-align: center;

                    &:after {
                        content: '|';
                        padding: 0 18px;
                    }
                }

                @include mediaQuerySmartPhone () {
                    display: block;
                    font-size: 13px;
                    line-height: 2;

                    &:first-child {
                        &:after {
                            content: '';
                            padding: 0;
                        }
                    }
                };
            }
        }
    }
}
