@import '../mixins';
@import '../partial/_basecolor.scss';

:local {
    .main {
        @include fitParent;
        overflow: hidden;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-image: url('../../../images/SectionMain/bg-full.jpg');

        &>header {
            @include fitParent;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &>* {
                width: 100px;
            }

            @include mediaQuerySmartPhone () {
                &>* {
                    width: 60px;
                }

                &>img {
                    height: 40%;
                    padding: 18px;
                }

                &>div {
                    height: 40px;
                }
            };

            &>img {
                text-align: center;
                padding: 30px;
                height: 360px;

                border: 1px solid transparent;

                @include getColor(border-color,$color0, 0.2);
                @include getColor(background-color,$color1, 0.4);
            }

            &>div {
                position: relative;
                height: 60px;
                line-height: 80px;

                font-size: 24px;
                text-align: center;

                @include quickButton(rgba($color2, 0.4), transparent, $color0);

                &>a {
                    display: block;
                    @include fitParent;

                    &:after {
                        content: '';
                        position: relative;
                        top: 50%;

                        display: block;
                        margin: auto;

                        width: 20px;
                        height: 20px;

                        @include vendor-prefix(transform, rotateZ(45deg) translate3d(-50%, -50%, 0));
                        @include vendor-prefix(transform-origin, center center);

                        border: 1px solid $color0;
                        border-width: 0 1px 1px 0;

                        @include mediaQuerySmartPhone () {
                            width: 12px;
                            height: 12px;
                        };

                    }
                }
            }
        }
    }
}

:global {
    #main {
        &:before {
            content: '';
            background-color: $color0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;

            @include transit(opacity, 1.5s);
            @include vendor-prefix(transition-delay, 0.5s);
        }

        &.ready-to-load {
            &:before {
                opacity: 1;
            }

            &>* {
                @include vendor-prefix(transform, translate3d(0, -5%, 0));
            }
        }

        &.loaded {
            &:before {
                opacity: 0;
            }

            &>* {
                @include vendor-prefix(transform, translate3d(0, 0, 0));
                @include vendor-prefix(transition-delay, 0.3s);
            }
        }
    }
}
