@import '../mixins';
@import '../variables';
@import '../partial/basecolor';

:local {
    .main {
        position: relative;

        width: 100%;
        height: 600px;
        overflow: hidden;

        &>h1 {
            @include sectionHeader($color7);

            @include mediaQuerySmartPhone () {
                @include sectionHeader($color7, $sectionHeaderMobileH);
            }
        }

        &>div {
            &>div {
                &:nth-of-type(1) {
                    @include fitParent;

                    .scrollItem {
                        @include fitParent;

                        display: flex;
                        justify-content: space-around;
                        align-items: stretch;
                        flex-direction: row;

                        &>aside,
                        &>article {
                            padding: 20px 40px;
                            width: 50%;
                            height: 100%;
                        }

                        &>aside {
                            &>* {
                                @include fitParent;
                            }

                            .asideImage {
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: cover;

                                @include fitParent;
                                @include clickable;

                                &[data-image="volcano"] {
                                    background-image: url('../../../images/SectionIntro/volcano-800w.jpg');

                                    @include mediaQuerySmartPhone () {
                                        background-image: url('../../../images/SectionIntro/volcano-480w.jpg');
                                    };
                                }

                                &[data-image="jingu"] {
                                    background-image: url('../../../images/SectionIntro/jingu-800w.jpg');

                                    @include mediaQuerySmartPhone () {
                                        background-image: url('../../../images/SectionIntro/jingu-480w.jpg');
                                    };
                                }
                            }
                        }


                        &>article {
                            position: relative;
                            white-space: normal;
                            line-height: 30px;

                            &::first-letter {
                               font-size: 40px;
                            }

                            &:before {
                                content: '';
                                position: absolute;
                                top: 20px;
                                display: block;

                                width: 80px;
                                height: 80px;

                                background-color: $color8;
                                z-index: -1;
                            }
                        }

                        @include mediaQuerySmartPhone () {
                            flex-direction: column;
                            font-size: 13px;

                            &>aside,
                            &>article {
                                padding: 0 20px;
                                width: 100%;
                                height: 50%;
                            }

                            &>article {
                                padding: 36px 20px;
                                line-height: 22px;

                                &::first-letter {
                                   font-size: 30px;
                                }

                                &:before {
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                        };

                        @include mediaQueryTablet () {
                            flex-direction: column;

                            &>aside,
                            &>article {
                                padding: 0 20px;
                                width: 100%;
                                height: 50%;
                            }

                            &>article {
                                padding: 50px 20px;
                                line-height: 30px;
                            }
                        };
                    }
                }

                &:nth-of-type(2) {
                    width: 100%;
                    position: absolute;
                    bottom: $sectionHeaderH * 0.5 - 18px;

                    @include mediaQuerySmartPhone () {
                        bottom: $sectionHeaderMobileH * 0.5 - 18px;
                    };

                    padding: 18px 0;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        @include mediaQuerySmartPhone () {
            height: 650px;
        }

        @include mediaQueryTablet () {
            height: 700px;
        }
    }
}
