@import '../mixins';
@import '../partial/basecolor';

@include keyframes(shift) {
    0% {
        @include vendor-prefix(transform, translateX(0) translateY(0));
    }
    20% {
        @include vendor-prefix(transform, translateX(0) translateY(0));
    }
    25% {
        @include vendor-prefix(transform, translateX(100%) translateY(0));
    }
    45% {
        @include vendor-prefix(transform, translateX(100%) translateY(0));
    }
    50% {
        @include vendor-prefix(transform, translateX(100%) translateY(100%));
    }
    70% {
        @include vendor-prefix(transform, translateX(100%) translateY(100%));
    }
    75% {
        @include vendor-prefix(transform, translateX(0) translateY(100%));
    }
    95% {
        @include vendor-prefix(transform, translateX(0) translateY(100%));
    }
    100% {
        @include vendor-prefix(transform, translateX(0) translateY(0));
    }
}

$bgColorList: ($color11, $color12, $color13, $color14);

:local {
    .main {
        position: relative;
        width: 100%;
        height: 100%;

        &>li {
            position: absolute;
            top: 0;
            left: 0;

            width: 50%;
            height: 50%;
            padding: 1px;
            background-clip: content-box;

            @include vendor-prefix(box-shadow, 0 0 8px 0 $color7);

            @for $i from 1 through 4 {
                :global {
                    // @include vendor-prefix(animation, 16s shift infinite cubic-bezier(1,.01,.08,1.04));
                    @include vendor-prefix(animation, 16s shift infinite cubic-bezier(.67,-0.47,.34,1.47));
                }

                &:nth-child(#{$i}) {
                    @include vendor-prefix(animation-delay, $i * -4s);
                    @include getColor(background-color, nth($bgColorList, $i));
                }
            }
        }
    }
}
